{% for product in up_sells_products %}
    <!-- single-product start -->
    <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="single-product">
            {% if product.discount_price %}
                <span class="sale-text">Sale</span>
            {% endif %}
            <div class="product-img">
                <a href="#">
                    <img class="primary-image" src="{{ product.preview_image.url }}" alt="" />
                </a>
                <div class="actions">
                    <div class="action-buttons">
                        <div class="add-to-cart">
                            <a href="#">Add to cart</a>
                        </div>
                        <div class="add-to-links">
                            <div class="add-to-wishlist">
                                <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
                                </a>
                            </div>
                            <div class="compare-button">
                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                            </div>
                        </div>
                        <div class="quickviewbtn">
                            <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-content">
                <h2 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                <div class="price-box">
                    {% if product.discount_price %}
                        <span class="new-price">£{{ product.discount_price }}</span>
                        <span class="old-price">£{{ product.price }}</span>
                    {% else %}
                        <span class="new-price">£{{ product.price }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- single-product end -->
{% endfor %}