{% extends 'core/extends/base.html' %}
{% block content %}
    <!-- breadcrumb-area start -->
	<div class="breadcrumb-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb">
						<ul>
							<li><a href="{% url 'HomePage' %}">Home</a> <i class="fa fa-angle-right"></i></li>
							<li><a href="#">blog</a> <i class="fa fa-angle-right"></i></li>
							<li>{{ feed.title }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-area end -->
	
	<!-- blog-area start -->
	<div class="blog-area single-blog pad-60">
		<div class="container">
			<div class="row">
				<!-- blog-left-sidebar start -->
				<div class="col-lg-3 col-md-3">
					<!-- widget-search start -->
					<aside class="widget widget-search">
						<h3 class="sidebar-title">Search</h3>
						<form action="#">
							<div class="widget-form">
								<input type="text" placeholder="search" />
								<button type="submit"><i class="fa fa-search"></i></button>					
							</div>
						</form>
					</aside>
					<!-- widget-search end -->
					<!-- widget-categories start -->
					<aside class="widget widget-categories">
						<h3 class="sidebar-title">Categories</h3>
						<ul class="sidebar-menu">
							<li><a href="#">Creative</a> (2)</li>
							<li><a href="#">Fashion</a> (1)</li>
							<li><a href="#">Image</a> (1)</li>
							<li><a href="#">Photography</a> (1)</li>
							<li><a href="#">Travel</a> (5)</li>
							<li><a href="#">Videos</a> (2)</li>
							<li><a href="#">WordPress</a> (4)</li>
						</ul>
					</aside>
					<!-- widget-categories end -->
					<!-- widget-archive start -->
					<aside class="widget widget-archive">
						<h3 class="sidebar-title">Archives</h3>
						<ul class="sidebar-menu">
							<li><a href="#">February 2015</a></li>
							<li><a href="#">November 2014</a></li>
							<li><a href="#">September 2014</a></li>
							<li><a href="#">august 2015</a></li>
						</ul>						
					</aside>
					<!-- widget-archive end -->
					<!-- widget-recent start -->
					<aside class="widget widget-recent">
						<h3 class="sidebar-title">Recent</h3>
						<ul>
                            {% for last_feed in last_three_feeds %}
                                <li>
                                    <div class="post-wrapper">
                                        <div class="post-sidebar-img">
                                            <a href="{{ last_feed.get_absolute_url }}"><img src="{{ last_feed.image.url }}" alt="{{ last_feed.title }}" /></a>
                                        </div>
                                        <div class="post-sidebar-info">
                                            <h3><a href="#">{{ last_feed }}</a></h3>
                                            <div class="r-post-date"> {{ last_feed.date_published_from|date:'N d, Y' }}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
						</ul>
					</aside>
					<!-- widget-recent end -->
					<!-- widget-tags start -->
					<aside class="widget widget-tags">
						<h3 class="sidebar-title">Tags</h3>
						<ul>
                            {% for tag in all_tags_feeds %}
							    <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
                            {% endfor %}
						</ul>
					</aside>
					<!-- widget-tags end -->
				</div>
				<!-- blog-left-sidebar end -->
				<div class="col-lg-9 col-md-9">
					<!-- single-blog start -->
					<article class="blog-post-wrapper">
						<div class="post-thumbnail">
							<img src="{{ feed.image.url }}" alt="" />
						</div>
						<div class="post-information">
							<h2>{{ feed.title }}</h2>
							<div class="entry-meta">
								<span class="author-meta"><i class="fa fa-user"></i> <a href="#">admin</a></span>
								<span><i class="fa fa-clock-o"></i> {{ feed.date_published_from|date:'N d, Y' }}</span>
								<span>
									<i class="fa fa-tags"></i>
									{% for tag in feed.tag.all %}
                                    <a href="#">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
								</span>
								<span><i class="fa fa-comments-o"></i> <a href="#">{{ feed.comments.count }} comments</a></span>
							</div>
							<div class="entry-content">
			                    {{ feed.body }}
{#                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit.</p>#}
{#								<p>Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse potenti. Proin consectetur aliquam odio nec fringilla. Sed interdum at justo in efficitur. Vivamus gravida volutpat sodales. Fusce ornare sit amet ligula condimentum sagittis.</p>#}
{#								<blockquote>#}
{#									<p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</p>#}
{#								</blockquote>							#}
{#								<p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.</p>#}
{#								<p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et eget neque. Nunc ante quam, luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu, fringilla a sem condimentum, viverra facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.</p>#}
							</div>
							<div class="social-sharing">
								<h3>Share this post</h3>
								<div class="sharing-icon">
									<a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a>
									<a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a>
									<a href="#" data-toggle="tooltip" title="Google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
							<div class="author-info">
								<div class="author-avatar"><img src="../../static/core/img/blog/avatar.png" alt="" /></div>
								<div class="author-description">
									<h2>About the Author: <a href="#">admin</a></h2>
								</div>
							</div>
						</div>
					</article>
					<div class="clear"></div>
					<div class="single-post-comments">
						<div class="comments-area">
							<div class="comments-heading">
								<h3>{{ feed.comments.count }} comments</h3>
							</div>
							<div class="comments-list">
								<ul>
                                    {% for comment in feed.get_comments %}
									    <li>
                                            <div class="comments-details">
                                                <div class="comments-list-img">
                                                    <img src="../../static/core/img/blog/comments/1.png" alt="" />
                                                </div>
                                                <div class="comments-content-wrap">
                                                    <span>
                                                        <b><a href="#">{{ comment.name }}</a></b>
                                                        <span class="post-time">{{ comment.date_publicate|date:'N d, Y | G:i' }}</span>
                                                        <a href="#form-add-comment" onclick="addReview('{{ comment.name }}', '{{ comment.id }}')">Reply</a>
                                                    </span>
                                                    <p>{{ comment.text }}</p>
                                                </div>
                                            </div>
									    </li>
                                            {% for sup_comment in comment.comment_set.all|dictsort:"date_publicate" %}
                                                <li class="threaded-comments">
                                                    <div class="comments-details">
                                                        <div class="comments-list-img">
                                                            <img src="../../static/core/img/blog/comments/2.jpg" alt="" />
                                                        </div>
                                                        <div class="comments-content-wrap">
                                                            <span>
                                                                <b><a href="#">{{ sup_comment.name }}</a></b>
                                                                <span class="post-time">{{ sup_comment.date_publicate|date:'N d, Y | G:i' }}</span>
                                                                <a href="#form-add-comment" onclick="addReview('{{ sup_comment.name }}', '{{ comment.id }}')">Reply</a>
                                                            </span>
                                                            <p>{{ sup_comment.text }}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                            <div class="comment-respond">
							<h3 class="comment-reply-title">Leave a Reply </h3>
							<span class="email-notes">Your email address will not be published. Required fields are marked *</span>
							<form action="{% url 'FeedDetail' feed.slug %}" id="form-add-comment" method="post">{% csrf_token %}
								<div class="row">
                                    <input type="hidden" name="parent" id="contactparent" value="">
									<div class="col-md-4">
										<p>Name *</p>
										{{ comment_form.name }}
									</div>
									<div class="col-md-4">
										<p>Email *</p>
										{{ comment_form.email }}
									</div>
									<div class="col-md-12 comment-form-comment">
										<p>Website</p>
{#										<textarea id="message" cols="30" rows="10"></textarea>#}
                                        {{ comment_form.text }}
										<input type="submit" value="Post Comment" />
									</div>
								</div>
							</form>
						</div>
					</div>
					<nav class="nav-single">
						<span class="nav-previous">
							{% if previous_feed %}<a href="{{previous_feed.get_absolute_url}}"><span>←</span> {{previous_feed.title}}</a>{% endif %}
						</span>
						<span class="nav-next">
							{% if next_feed %}<a href="{{ next_feed.get_absolute_url }}">{{ next_feed.title}} <span>→</span></a>{% endif %}
						</span>
					</nav>
					<!-- single-blog end -->
				</div>
			</div>
		</div>
	</div>
    <!-- blog-area end -->
{% endblock %}
{% block extra-scripts-footer %}
    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("message").innerText = `${name}, `
        }
    </script>
{% endblock %}