{% extends 'core/extends/base.html' %}
{% block content %}
	<!-- breadcrumb-area start -->
	<div class="breadcrumb-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb">
						<ul>
							<li><a href="index.html">Home</a> <i class="fa fa-angle-right"></i></li>
							<li>Blog</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-area end -->
	
	<!-- blog-area start -->
	<div class="blog-area pad-60">
		<div class="container">
			<div class="row">
				<!-- blog-left-sidebar start -->
				<div class="col-lg-3 col-md-3">
					<!-- widget-search start -->
					<aside class="widget widget-search">
						<h3 class="sidebar-title">Search</h3>
						<form action="#">
							<div class="widget-form">
								<input type="text" placeholder="search" />
								<button type="submit"><i class="fa fa-search"></i></button>					
							</div>
						</form>
					</aside>
					<!-- widget-search end -->
					<!-- widget-categories start -->
					<aside class="widget widget-categories">
						<h3 class="sidebar-title">Categories</h3>
						<ul class="sidebar-menu">
							<li><a href="#">Creative</a> (2)</li>
							<li><a href="#">Fashion</a> (1)</li>
							<li><a href="#">Image</a> (1)</li>
							<li><a href="#">Photography</a> (1)</li>
							<li><a href="#">Travel</a> (5)</li>
							<li><a href="#">Videos</a> (2)</li>
							<li><a href="#">WordPress</a> (4)</li>
						</ul>
					</aside>
					<!-- widget-categories end -->
					<!-- widget-archive start -->
					<aside class="widget widget-archive">
						<h3 class="sidebar-title">Archives</h3>
						<ul class="sidebar-menu">
							<li><a href="#">February 2015</a></li>
							<li><a href="#">November 2014</a></li>
							<li><a href="#">September 2014</a></li>
							<li><a href="#">august 2015</a></li>
						</ul>						
					</aside>
					<!-- widget-archive end -->
					<!-- widget-recent start -->
					<aside class="widget widget-recent">
						<h3 class="sidebar-title">Recent</h3>
						<ul>
							{% for last_feed in last_three_feeds %}
                                <li>
                                    <div class="post-wrapper">
                                        <div class="post-sidebar-img">
                                            <a href="{{ last_feed.get_absolute_url }}"><img src="{{ last_feed.image.url }}" alt="{{ last_feed.title }}" /></a>
                                        </div>
                                        <div class="post-sidebar-info">
                                            <h3><a href="#">{{ last_feed }}</a></h3>
                                            <div class="r-post-date"> {{ last_feed.date_published_from|date:'N d, Y' }}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
						</ul>
					</aside>
					<!-- widget-recent end -->
					<!-- widget-tags start -->
					<aside class="widget widget-tags">
						<h3 class="sidebar-title">Tags</h3>
						<ul>
                            {% for tag in all_tags_feeds %}
							    <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
                            {% endfor %}
						</ul>
					</aside>
					<!-- widget-tags end -->
				</div>
				<!-- blog-left-sidebar end -->
				<div class="col-lg-9 col-md-9">
                    {% for feed in feeds_all %}
                        <!-- single-blog start -->
                        <article class="blog-post-wrapper">
                            <div class="post-thumbnail">
                                <div class="post-slider">
                                    <a href="{{ feed.get_absolute_url }}"><img src="{{ feed.image.url }}" alt="{{ feed.title }}" /></a>
{#                                    <a href="#"><img src="../../static/core/img/blog/post-slider/2.jpg" alt="" /></a>#}
{#                                    <a href="#"><img src="../../static/core/img/blog/post-slider/3.jpg" alt="" /></a>#}
{#                                    <a href="#"><img src="../../static/core/img/blog/post-slider/4.jpg" alt="" /></a>#}
{#                                    <a href="#"><img src="../../static/core/img/blog/post-slider/5.jpg" alt="" /></a>#}
                                </div>
                            </div>
                            <div class="post-information">
                                <h2><a href="#">{{ feed.title }}</a></h2>
                                <div class="small-meta">
                                    <span><i class="fa fa-calendar"></i> {{ feed.date_published_from|date:'N d, Y' }}</span>
                                    <a href="#"><i class="fa fa-comments-o"></i> {{ feed.comments.count }} comments</a>
                                </div>
                                <p>{{ feed.body|truncatewords:20 }}</p>
                                <a class="readmore" href="{{ feed.get_absolute_url }}">read more</a>
                            </div>
                        </article>
                        <!-- single-blog end -->
                    {% endfor %}
					<!-- single-blog start -->

					<!-- single-blog end -->
					<!-- pagination start -->
					<div class="pagination">
						<ul>
							<li class="active">1</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
						</ul>
					</div>
					<!-- pagination end -->
				</div>
			</div>
		</div>
	</div>
	<!-- blog-area end -->
{% endblock %}