{% extends 'core/extends/base.html' %}
{% block content %}
	<!-- map-area start -->
	<div class="map-area">
		<div id="googleMap" style="width:100%;height:410px;"></div>
	</div>
	<!-- map-area end -->
	<!-- contact-area start -->
	<div class="contact-area">
		<div class="container">
			<div class="row">
				<!-- contact-info start -->
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="contact-info">
						<h3>Contact info</h3>
						<ul>
							<li>
								<i class="fa fa-map-marker"></i> <strong>Address</strong>
								1234 Pall Mall Street, London England
							</li>
							<li>
								<i class="fa fa-envelope"></i> <strong>Phone</strong>
								(800) 0123 4567 890
							</li>
							<li>
								<i class="fa fa-mobile"></i> <strong>Email</strong>
								<a href="#">admin@themepure.net</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- contact-info end -->
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="contact-form">
						<h3><i class="fa fa-envelope-o"></i> Leave a Message</h3>
						<div class="row">
							<form action="" method="POST">{% csrf_token %}
								<div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.name }}
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.email }}
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form.subject }}
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form.message }}
									<input type="submit" value="Submit Form" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block extra-scripts-footer %}
		<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script>
		<script>
			function initialize() {
			  var mapOptions = {
				zoom: 15,
				scrollwheel: false,
				center: new google.maps.LatLng(23.81033, 90.41252)
			  };

			  var map = new google.maps.Map(document.getElementById('googleMap'),
				  mapOptions);


			  var marker = new google.maps.Marker({
				position: map.getCenter(),
				animation:google.maps.Animation.BOUNCE,
				icon: 'img/map-marker.png',
				map: map
			  });

			}

			google.maps.event.addDomListener(window, 'load', initialize);
		</script>		
		
		<!-- plugins js -->
        <script src="../../static/core/js/plugins.js"></script>
		
		<!-- main js -->
        <script src="../../static/core/js/main.js"></script>
{% endblock %}