{% extends 'core/extends/base_main.html' %}
{% load static %}
{% load filters_core %}
{% block title %}Главная | Фотомаг{% endblock %}
{% block content %}
	<!-- HOME SLIDER -->
	<div class="slider-wrap">
		<div class="fullwidthbanner-container" >
			<div class="fullwidthbanner">
				<ul>
                    {% for feed in feeds %}
					<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
						<img src="{% if feed.image %}{{ feed.image.url }}{% else %}../../static/core/img/slider/slide-img1.jpg{% endif %}" alt="slide" >
						<div class="tp-caption large_black sfr"
						data-x="150"
						data-y="350"
						data-speed="1100"
						data-start="1100"
						data-easing="easeInOutBack"
							style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF;">
							{{ feed.sup_title}}
						</div>
						<div class="tp-caption large_black sfr"
						data-x="150"
						data-y="375"
						data-speed="1100"
						data-start="1100"
						data-easing="easeInOutBack"
							style="border-width: 2px; background-color: #ffffff; min-height: 1px;min-width: 400px;">
						</div>
						<div class="tp-caption large_black sfr"
						data-x="150"
						data-y="400"
						data-speed="1100"
						data-start="1400"
						data-easing="easeInOutBack"
							style=" font-size: 100px; font-weight: 800; line-height:80px;text-transform: uppercase; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.05)">
							{% autoescape off %} {{ feed.title }} {% endautoescape %}
						</div>
						<div class="tp-caption large_black sfr"
						data-x="150"
						data-y="500"
						data-speed="1100"
						data-start="1400"
						data-easing="easeInOutBack"
							style=" font-size: 20px; font-weight: normal; color: #FFF;line-height:14px;text-transform: uppercase;">
							{{ feed.description }}
						</div>
                        {% if feed.text_button %}
						<div class="tp-caption lfb carousel-caption-inner"
						data-x="150"
						data-y="550"
						data-speed="1300"
						data-start="1700"
						data-easing="easeInOutBack"
							style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
							<a href="{{ feed.url_button }}" class="s-btn" style="background: #EC4445;color: #ffffff;display: block;padding: 12px 28px;">{{ feed.text_button }}</a>
						</div>
                        {% endif %}
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<!-- END HOME SLIDER -->
        {% for special_category_products in special_categories_products %}
        {% cycle 'row1' 'row2' 'grid' as type_slider silent %}
        {% extra_categories_products type_slider special_category_products %}
    {% endfor %}
{#	<!-- banner-area start -->#}
{#	<div class="banner-area">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<!-- single-banner start -->#}
{#				<div class="col-md-5 col-sm-5 col-xs-12">#}
{#					<div class="single-banner">#}
{#						<a href="#"><img src="{% static 'core/images/gallery/1L.jpg' %}" alt="" /></a>#}
{#					</div>#}
{#				</div>#}
{#				<!-- single-banner end -->#}
{#				<div class="col-md-7 col-sm-7 col-xs-12">#}
{#					<div class="row">#}
{#						<!-- single-banner start -->#}
{#						<div class="col-md-12 col-sm-12 col-xs-12">#}
{#							<div class="single-banner banner-margin">#}
{#								<a href="#"><img src="{% static 'core/images/gallery/1L.jpg' %}" alt="" /></a>#}
{#							</div>#}
{#						</div>#}
{#						<!-- single-banner end -->#}
{#						<!-- single-banner start -->#}
{#						<div class="col-md-6 col-sm-6 col-xs-12">#}
{#							<div class="single-banner">#}
{#								<a href="#"><img src="{% static 'core/images/gallery/1L.jpg' %}" alt="" /></a>#}
{#							</div>#}
{#						</div>#}
{#						<!-- single-banner end -->#}
{#						<!-- single-banner start -->#}
{#						<div class="col-md-6 col-sm-6 col-xs-12">#}
{#							<div class="single-banner">#}
{#								<a href="#"><img src="{% static 'core/img/product/1L.jpg' %}" alt="" /></a>#}
{#							</div>#}
{#						</div>#}
{#						<!-- single-banner end -->#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	<!-- banner-area end -->#}
{#	<!-- banner-2-area start -->#}
{#	<div class="banner-2-area pad-60">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<!-- single-banner start -->#}
{#				<div class="col-md-4 col-sm-4">#}
{#					<div class="single-banner">#}
{#						<a href="#"><img src="{% static 'core/img/banner/6.jpg' %}" alt="" /></a>#}
{#					</div>#}
{#				</div>#}
{#				<!-- single-banner end -->#}
{#				<!-- single-banner start -->#}
{#				<div class="col-md-4 col-sm-4">#}
{#					<div class="single-banner">#}
{#						<a href="#"><img src="../../static/core/img/banner/7.jpg" alt="" /></a>#}
{#					</div>#}
{#				</div>#}
{#				<!-- single-banner end -->#}
{#				<!-- single-banner start -->#}
{#				<div class="col-md-4 col-sm-4">#}
{#					<div class="single-banner">#}
{#						<a href="#"><img src="../../static/core/img/banner/6.jpg" alt="" /></a>#}
{#					</div>#}
{#				</div>#}
{#				<!-- single-banner end -->#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	<!-- banner-2-area end -->#}
	<!-- latest-blog-area start -->
	<div class="latest-blog-area pad-60">
		<div class="container">
			<!-- section-heading start -->
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h1>LATEST FROM BLOG</h1>
						<div class="title-icon">
							<span><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></span>
						</div>
					</div>
				</div>
			</div>
			<!-- section-heading end -->
			<div class="row">
				<div class="latest-blog-curosel">
                    {% for small_feed in small_feeds %}
					<!-- single-latest-blog start -->
					<div class="col-lg-12">
						<div class="single-latest-blog">
							<div class="latest-blog-img">
								<a href="{{ small_feed.get_absolute_url }}"><img src="{% if small_feed.image %}{{ small_feed.image.url }}{% else %}../../static/core/img/slider/slide-img1.jpg{% endif %}" alt="" /></a>
							</div>
							<div class="latest-blog-content">
								<h3><a href="#">{{ small_feed.title }}</a></h3>
								<div class="meta">
									<span class="post-category">in <a href="#">blog</a></span>
									<span class="meta-border">|</span>
									<span class="time"><i class="fa fa-clock-o"></i> {{ small_feed.date_publicate }}</span>
								</div>
								<p>{{ small_feed.description }}</p>
							</div>
						</div>
					</div>
					<!-- single-latest-blog end -->
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- latest-blog-area end -->
	<!-- brand-area start -->
	<div class="brand-area pad-60">
		<div class="container">
			<!-- section-heading start -->
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h1>Our Brands</h1>
						<div class="title-icon">
							<span><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></span>
						</div>
					</div>
				</div>
			</div>
			<!-- section-heading end -->
			<div class="row">
				<div class="brand-curosel">
                    {% our_brands %}
				</div>
			</div>
		</div>
	</div>
	<!-- brand-area end -->
{% endblock %}
