{% extends 'shop/extends/base.html' %}
{% load static %}
{% load mptt_tags %}
{% load filters_shop %}
{% block extra-scripts %}
		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="{% static 'core/css/jquery-ui.css' %}">
{% endblock %}
{% block content %}
	<!-- shop-header-area start -->	
	<div class="shop-header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="shop-header-title">
						<h1>Shop All Products</h1>
						<div class="shop-menu">
							<ul>
								<li><a href="#">All</a></li>
								<li><a href="#">Clothes</a></li>
								<li><a href="#">Dress</a></li>
								<li><a href="#">Handbag</a></li>
								<li><a href="#">Hats</a></li>
								<li><a href="#">Men</a></li>
								<li><a href="#">Women</a></li>
							</ul>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop-header-area end -->	
	<!-- breadcrumb-area start -->
    {% if obj_selected_category %}
        {% breadcrumb_area_shop obj_selected_category %}
    {% else %}
        {% breadcrumb_area_shop %}
    {% endif %}
	<!-- breadcrumb-area end -->
	<!-- blog-area start -->
	<div class="shop-area">
		<div class="container">
			<div class="row">
				<!-- shop-left-sidebar start -->
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<!-- widget-categories start -->
					<aside class="widget widget-categories">
						<h3 class="sidebar-title">Categories</h3>
						<ul class="sidebar-menu">
                            {% recursetree all_category %}
                                <li><a href="{{ node.get_absolute_url }}">{{ node.title }}</a> <span class="count"></span></li>
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            {% endrecursetree %}
						</ul>
					</aside>
					<!-- widget-categories end -->
					<!-- shop-filter start -->
					<aside class="widget shop-filter">
						<h3 class="sidebar-title">price</h3>
						<div class="info_widget">
							<div class="price_filter">
								<div id="slider-range"></div>
								<div class="price_slider_amount">
									<input type="text" id="amount" name="price"  placeholder="Add Your Price" />
									<input type="submit"  value="Filter"/>  
								</div>
							</div>
						</div>							
					</aside>
					<!-- shop-filter end -->
					<!-- filter-by start -->
					<aside class="widget filter-by">
						<h3 class="sidebar-title">Filter by</h3>
						<ul class="sidebar-menu">
							<li><a href="#">L</a> <span class="count">(1)</span></li>
							<li><a href="#">M</a> <span class="count">(1)</span></li>
							<li><a href="#">S</a> <span class="count">(1)</span></li>
							<li><a href="#">XL</a> <span class="count">(1)</span></li>
						</ul>						
					</aside>
					<!-- filter-by end -->
					<!-- widget-tags start -->
					<aside class="widget widget-tags">
						<h3 class="sidebar-title">Tags</h3>
						<ul>
							<li><a href="#">asian</a></li>
							<li><a href="#">brown</a></li>
							<li><a href="#">euro</a></li>
							<li><a href="#">fashion</a></li>
							<li><a href="#">france</a></li>
							<li><a href="#">hat</a></li>
							<li><a href="#">travel</a></li>
							<li><a href="#">white</a></li>
							<li><a href="#">t-shirt</a></li>
							<li><a href="#">teen</a></li>
						</ul>
					</aside>
					<!-- widget-tags end -->					
					<!-- widget-recent start -->
					<aside class="widget top-product-widget">
						<h3 class="sidebar-title">Top rated products</h3>
						<ul>
							<li>
								<div class="single-product">
									<div class="product-img">
										<a href="#">
											<img class="primary-image" src="../../static/core/img/product/15.jpg" alt="" />
											<img class="secondary-image" src="../../static/core/img/product/16.jpg" alt="" />
										</a>						
									</div>
									<div class="product-content">
										<div class="pro-info">
											<h2 class="product-name"><a href="#">Curabitur vulputate</a></h2>
											<div class="price-box">
												<span class="new-price">£90.00</span>
												<span class="old-price">£120.00</span>
											</div>								
										</div>									
									</div>
								</div>
							</li>
							<li>
								<div class="single-product">
									<div class="product-img">
										<a href="#">
											<img class="primary-image" src="../../static/core/img/product/women/8.jpg" alt="" />
											<img class="secondary-image" src="../../static/core/img/product/women/1.jpg" alt="" />
										</a>						
									</div>
									<div class="product-content">
										<div class="pro-info">
											<h2 class="product-name"><a href="#">Aliquam lobortis est</a></h2>
											<div class="price-box">
												<span class="new-price">£70.00</span>
												<span class="old-price">£100.00</span>
											</div>								
										</div>								
									</div>
								</div>	
							</li>
							<li>
								<div class="single-product">
									<div class="product-img">
										<a href="#">
											<img class="primary-image" src="../../static/core/img/product/6.jpg" alt="" />
											<img class="secondary-image" src="../../static/core/img/product/7.jpg" alt="" />
										</a>						
									</div>
									<div class="product-content">
										<div class="pro-info">
											<h2 class="product-name"><a href="#">Pellentesque posuere</a></h2>
											<div class="price-box">
												<span class="new-price">£50.00</span>
											</div>								
										</div>									
									</div>
								</div>
							</li>
						</ul>
					</aside>
					<!-- widget-recent end -->
				</div>
				<!-- blog-left-sidebar end -->
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<!-- toolbar start -->
					<div class="toolbar">
						<div class="view-mode">
							<a class="active" href="shop.html"><i class="fa fa-th-large"></i></a>
							<a class="list" href="shop-list.html"><i class="fa fa-th-list"></i></a>
						</div>
						<div class="show-result">
							<p> Showing 1–12 of 19 results</p>
						</div>
						<div class="toolbar-form">
							<form action="#">
								<div class="tolbar-select">
									<select>
									  <option value="volvo">Sort by popularity</option>
									  <option value="saab">Default sorting</option>
									  <option value="mercedes">Sort by average rating</option>
									  <option value="audi">Sort by newness</option>
									  <option value="audi">Sort by price: low to high</option>
									  <option value="audi">Sort by price: high to low</option>
									</select> 
								</div>
							</form>								
						</div>
					</div>
                    {% load thumbnail %}
					<!-- toolbar end -->
					<div class="clear"></div>
					<div class="row">
						<div class="grid-view">
                            {% for product in products_all %}
							<!-- single-product start -->
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="single-product">
                                        {% if product.discount_price %}
                                            <span class="sale-text">Sale</span>
                                        {% endif %}
{#                                        style="height: 340px; width: 270px; background: url({{ product.preview_image.url }}) no-repeat center / cover;"#}
                                        <div class="product-img">
{#                                          <img class="secondary-image" src="{{ product.preview_image.url }}" alt=""/>#}
                                            <a href="{{ product.get_absolute_url }}">
                                                <img class="primary-image" src="{% thumbnail product.preview_image 270x340 crop='smart' %}" alt="" />
{#                                              <img class="secondary-image" src="{{ product.preview_image.url }}" alt="" style="width: 270px; height: 360px;"/>#}
                                            </a>
                                            <div class="actions">
                                                <div class="action-buttons">
                                                    <div class="add-to-cart">
                                                        <a href="#">Add to cart</a>
                                                    </div>
                                                    <div class="add-to-links">
                                                        <div class="add-to-wishlist">
                                                            <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
                                                            </a>
                                                        </div>
                                                        <div class="compare-button">
                                                            <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="quickviewbtn">
                                                        <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h2 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            </div>
                                            <div class="price-box">
                                                {% if product.discount_price %}
                                                    <span class="new-price">£{{ product.discount_price }}</span>
                                                    <span class="old-price">£{{ product.price }}</span>
                                                {% else %}
                                                    <span class="new-price">£{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
							<!-- single-product end -->
                            {% endfor %}
						</div>
					</div>
                 {% if is_has_other_page %}
                        <!-- pagination start -->
                        <div class="pagination">
                            <ul>
                                {% if prev_page %}
                                <li><a href="{{ prev_page }}"><i class="fa fa-chevron-left"></i></a></li>
                                {% endif %}
                                {% for number_page in products_all.paginator.page_range %}
                                    {% if products_all.number == number_page %}
                                        <li class="active">{{ number_page }}</li>
                                    {% elif number_page > products_all.number|add:-2 and number_page < products_all.number|add:2 %}
                                        <li><a href="?page={{ number_page }}"> {{ number_page }} </a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if next_page %}
                                <li><a href="{{ next_page }}"><i class="fa fa-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
					<!-- pagination end -->
                {% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- blog-area end -->
	<!-- brand-area start -->
	<div class="brand-area pad-60">
		<div class="container">
			<!-- section-heading start -->
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h3>Our Brands</h3>
						<div class="title-icon">
							<span><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></span>
						</div>						
					</div>
				</div>
			</div>
			<!-- section-heading end -->		
			<div class="row">
				<div class="brand-curosel">
				    {% our_brands %}
				</div>
			</div>
		</div>
	</div>
	<!-- brand-area end -->
{% endblock %}